<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
 
 	<bean id="helloWorld" class="fr.cso.action.HelloWorld">
		<property name="equipeManager" ref="equipeManager" />	
	</bean>
	
	<bean id="resultatsAction" class="fr.cso.action.ResultatsAction">
		<property name="resultatManager" ref="resultatManager" />	
		<property name="matchManager" ref="matchManager" />	
	</bean>
	

	<bean id="equipeManager" class="fr.cso.core.impl.EquipeManager" >
		<property name="equipeDAO" ref="equipeDAO" />
	</bean>
	<bean id="resultatManager" class="fr.cso.core.impl.ResultatManager" >
		<property name="resultatDAO" ref="resultatDAO" />
	</bean>
	<bean id="matchManager" class="fr.cso.core.impl.MatchManager" >
		<property name="matchDAO" ref="matchDAO" />
	</bean>
	
	
   	<bean id="equipeDAO" class="fr.cso.dao.impl.EquipeDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
   	<bean id="resultatDAO" class="fr.cso.dao.impl.ResultatDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="matchDAO" class="fr.cso.dao.impl.MatchDAO" >
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

 
    <tx:annotation-driven />
    
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
 
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
        destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/pronos" />
        <property name="username" value="root" />
        <property name="password" value="" />
    </bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="fr.cso.model"/>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
	</bean>
 
</beans>