@CHARSET "ISO-8859-1";

@font-face {
	font-family: "pf beau sans pro"; 
	src: url('../font/pfbeausanspro-light-webfont.ttf'); 
}

body{
	min-width: 1000px;
}

/* HEADER */

.navigation {
	background-image: radial-gradient(circle farthest-corner at top center, #2c6a93, #000a34);
	position: relative;
	min-height: 70px;
	padding: 0;
}

.navigation:after, .navigation:before {
	content:"";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.navigation:before {
	background: url('../images/bg_pattern.png') top center #007cba;
	background-size: 100%;
	opacity: .2;
	z-index: 1;
}

.navigation:after {
	background-image:radial-gradient(circle closest-corner at top center,#65beec,rgba(101,190,236,0));
	opacity:.5;
	z-index: 2;
}

.navigation .competition-logo {
	width: 80px;
	height: 100px;
	padding-top: 15px;
	float: none;
	margin: 0 auto;
	display: block;
    position: relative;
	z-index: 3;
}

.navigation .competition-logo .logolink {
	background: url('../images/logoeuro2016.svg') center center no-repeat;
	display: block;
	height: 100%;
	text-align: center;
	color: transparent;
}

.navigation .competition-aside {
	position: absolute; 
	right: 20px; 
	top: 20px;
	z-index: 3;
}

@font-face { 
	font-family: "LedDisplay"; 
	src: url('../font/digital-7.ttf'); 
	font-weight:400;
} 

.navigation .competition-aside .prochainEvenement {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10px;
	font-family:"pf beau sans pro",Helvetica,Arial,sans-serif;
	text-align: center;
}
.navigation .competition-aside .prochainEvenement div {
	display:inline-block
}

.navigation .competition-aside .prochainEvenement .cdEquipe {
	font-size: 20px;
}

.navigation .competition-aside .prochainEvenement img {
	width: 20px;
    height: 20px;
}

.navigation .competition-aside .countdown {
	font-family: LedDisplay;
}

.navigation .competition-aside .countdown td {
	padding-top: 0px; 
	padding-bottom: 0px;
/* 	border-width:1px; */
/*  	border-style:solid;  */
/*  	border-color:white; */
}

.navigation .competition-aside hr {
	margin-top: 1px; 
	margin-bottom: 1px;
}

.navigation .competition-aside .countdown #temps {
	color: #feba3d;
	font-weight: bold;
	font-size: 35px;
}

.navigation .competition-aside .countdown #legende {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 10px;
	text-align: right;
}

.navigation .menu {
	height: 30px; 
	position: relative;
	z-index: 3;
	display: block;
	padding-top: 20px; 
	padding-bottom: 20px;
}

.navigation .menu .menu-container {
	padding-left: 20%;
    padding-right: 20%;
    text-align: center;
}

.navigation .menu .menu-container .menu-navbar {
	display: flex;
	height: auto;
    padding: 0;
    margin : 0;
}

.navigation .menu .menu-container .menu-navbar li {
	list-style-type: none;
}

.navigation .menu .menu-container .menu-navbar .first-item {
    flex-grow: 1;
    text-align: left;
}

.navigation .menu .menu-container .menu-navbar .menu-navbar-item {
	flex-grow: 2;
    display: block;
}

.navigation .menu .menu-container .menu-navbar .menu-navbar-item-link {
	line-height: 1;
    padding: 6px 8px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: #FFF;
    font-size: 16px; 
    font-family: 'pf beau sans pro', Helvetica, Arial, sans-serif;
    text-decoration: none;
	font-style: normal;
	font-weight: bold;
}

.navigation .menu .menu-container .menu-navbar .menu-navbar-item-link-active,
.navigation .menu .menu-container .menu-navbar .menu-navbar-item-link:hover {
	background-color: #65beec;
	border-radius: 3px;
}

.navigation .menu .menu-container .menu-navbar .last-item {
    flex-grow: 1;
    text-align: right;
}

/* CONTENT */

.content {
	width: 1200px;
    margin: 0px auto;
    padding-top : 10px;
    font-family : Arial, Verdana, sans-serif;
    color: rgb(102, 102, 102);
}

.content-left {
    float:left;
}

.content-right {
	float:right;
	width: 380px;
    margin-left : 20px;
    border : 1px solid black;
}

/* RESULTATS */

.divResultat {
	border-bottom: 1px solid rgb(179, 183, 186);
	padding-top: 10px;
	padding-bottom: 10px;
}

.divResultat .tabResultat td {
	text-align:center;
}

.divResultat .tabResultat .colInfos {
	width: 75px;
	font-size : 14px;
}

.divResultat .tabResultat .colEquipes {
	width: 220px;
}

.divResultat .tabResultat .colScores {
	font-size : 20px;
	font-weight: bold;
	border-radius: 5px;
}

.divResultat .tabResultat .colScores input {
	width : 100%;
	font-size : 20px;
	text-align:center;
}

.divResultat .tabResultat .colScores, .divResultat .tabResultat .colLogos, .divResultat .tabResultat .colSeparateur {
	width: 30px;
}

.divResultat .tabResultat .colLogos {
	padding-right: 10px;
	padding-left: 10px;
}

.divResultat .tabResultat .colLogos img {
	width: 20px;
	height: 20px;
}

.divResultat .tabResultat .colDom {
	text-align: right;
}

.divResultat .tabResultat .colExt {
	text-align: left;
}

.divResultat .tabResultat .colHeure {
	width: 90px;
	font-weight: bold;
}

.divResultat .tabResultat .victoire {
	background-color: #98FB98;
}

.divResultat .tabResultat .nul {
	background-color: #D9D9D9;
}